@import '../../../assets/css/variables.scss';

.container {
  width: 90%;
  margin: 0 auto;
}

html, body {
  background: url('../../../assets/img/main-bg.png');
  background-color: $sub-black;
}

@media screen and (max-width: 560px) {
  .container {
    width: 100%;
  }
}