@import '../../../assets/css/variables.scss';

.container {
  width: 90%;
  margin: 0 auto;
}

html, body {
  background: url('../../../assets/img/space.jpg') no-repeat;
  background-size: cover;
  background-color: $sub-black;
}
body {
  height: 100vh;
  padding-top: 10px;
}

@media screen and (max-width: 560px) {
  .container {
    width: 100%;
  }
}