@font-face {
  font-family: "ShareTechMono";
  src:  url('../fonts/ShareTechMono/ShareTechMono-Regular.ttf') format("truetype"),
        url("../fonts/ShareTechMono/ShareTechMono-Regular.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: 'ComfortaaBold';
  src: url('../fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype'),
        url('../fonts/Comfortaa/Comfortaa-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ComfortaaLight';
  src: url('../fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype'),
        url('../fonts/Comfortaa/Comfortaa-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'),
        url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}