@import '../../../assets/css/variables.scss';

.item-list  {
  width: 100%;
  text-align: center;
  font-family: Comfortaa;
  background-color: $main-black;
  border-radius: 8px;
  margin-top: 20px;
  overflow: scroll;
  height: 350px;
  &__ul {
    padding: 0;
    list-style: none;
  }
  &::-webkit-scrollbar {
    height: 0;
    width: 6px;

  }
  &::-webkit-scrollbar-thumb {
    background-color: $sub-gray;
    border-radius: 15px;
  }
  &__item {
    position: relative;
    display: inline-block;
    width: 30%;
    cursor: pointer;
    position: relative;
    padding: 10px;
    transition: all .1s ease-in-out;
    a {
      text-decoration: none;
    }
    &.active {
      padding-left: -50px;
      color: #fff;
    }
    &.active::before {
      content: '\27A4';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      margin-right: 5px;
    }
    span {
      font-size: 10px;
      display: block;
      color: rgba(255, 255, 255, 0.384);
    }
    &:not(.active):not(.item-list__random):hover {
      transition: all .1s ease-in-out;
      transform: scale(1.2);
      color: #fff;
    }

  }
  &__random {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: $main-gray;
    width: 150px;
    height: 50px;
    border: none;
    &:hover {
      background-color: lighten($color: $main-gray, $amount: 5%);
    }
    &:focus {
      outline: none;
    }
    &:active {
      background-color: lighten($color: $main-gray, $amount: 15%);
    }
  }

  
  &_dark {
    background-color: transparent;
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  .item-list {
    &__item {
      width: 45%;
    }
  }
}